<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YHDownLoadLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EC800FC1EDFE84D00FA6E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EC801151EDFE84E00FA6E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EC801201EDFE84E00FA6E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
